/* eslint-disable react/jsx-props-no-spreading */

import React from 'react';

import classes from './{{pascalCase name}}.module.scss';

interface IProps {
  onClick: () => void;
  children: React.ReactNode;
}

const {{pascalCase name}}: React.FC<IProps> = ({ onClick, children }) => (
  <div className={classes.wrapper} {...{ onClick }}>
    {children}
  </div>
);

export default {{pascalCase name}};
