name: Release Package

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
          scope: "@afrosiyob"
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles ('**/package-lock.json') }}
          restore-keys: |
            S{{ runner.os }}-node-
      - run: git config user.name ${{secrets.NAME}}
      - run: git config user.email ${{secrets.EMAIL}}
      - run: yarn install
      - run: yarn test
      - run: yarn deploy
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
